<!DOCTYPE html>
<html>
    <head>
        <title>
            Not a scam!
        </title>
    </head>
    <body>
        <h1>
            Get your free anti ageing serum today.*
        </h1>
        <img src = "carriebickmore.jpg"
        style = "width:500px; height: 600px;">
        <h2>
            Carrie Bickmore Endorses this product!!!!
        </h2>
        <form>
            <label> Full Name</label><br/>
            <input type = "text" placeholder = "John Smith">
            <br>
            <br>
            <label> Phone Number</label><br/>
            <input type = "text" placeholder = "041234567">
            <br>
            <br>
            <label> Credit Card Details</label><br/>
            <input type = "text" placeholder = "123 456 789">
            <br>
            <br>
            <input type = "submit" value = "Submit details!">

        </form>

        <h6> 
            Conditions apply!!
        </h6>
    </body>
</html>