<!DOCTYPE html>
    <html>
        <head>
            <title> Owens mad calculator</title>

        </head>
        <body>
            <h1>
                Welcome to Owen's mad simple interest calculator!
            </h1>
            <h2>
                quickmaff
            </h2>
            <form name = "InterestCalculator">
                <br>
                <label>Total Interest ($): </label><br/>
                <input type = "text" placeholder = "Amount Invested">
                <br>
                <br>
                <label>Interest Rate (%): </label><br/>
                <input type = "text" placeholder = "Interest Rate">
                <br>
                <br>
                <label>Time invested (Years): </label><br/>
                <input type = "text" placeholder = "Time invested">
                <br>
                <br>
                <label>Interest Gained ($): </label><br/>
                <input type = "text" placeholder = "Interest Gained">
                <br>
                <br>
                <input type = "submit" id = calc value = "CALCULATE" style ="border: none; width:  200px; height: 100px;">
            </form>
                <br>
                <a href = "input.html/calculatetime/">  Calculate time! </a> <! make these using url_for>
                &emsp;
                <a  href = "input.html/calculateinterest/"> Calculate Interest! </a>
        </body>
    </html>
